h2 {
  width: 100%;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;

  font-size: 20px;
}

form.add-employee-form {
  /* height: 100%; */
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding: 20px;
}

div.add-employee-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

div.input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.add-employee-data label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

div.add-employee-data input {
  margin: 0 0 5px 0;
}

div.add-employee-buttons {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 30px 0 5px 0;
  padding: 0 0 0 0;
}
