@if(isAddingNewEmployee == true){
<app-add-new-employee
  (close)="onCancelAddNewEmployee()"
  (add)="onAddNewEmployee($event)"
/>
}

<div class="main-container">
  <div class="add-employees-card">
    <div class="employees-list">
      @for(employee of employees; track employee.id){
      <app-employee
        [employee]="employee"
        [selected]="employee.id === selectedEmployeeId"
        (select)="onSelectEmployee($event)"
        [whichDisplay]="false"
      />
      }
    </div>
    <div class="add-employee-button-container">
      <button class="add-employee-button" (click)="onStartAddNewEmpolyee()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-plus-square"
          viewBox="0 0 16 16"
        >
          <path
            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"
          />
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
          />
        </svg>
      </button>
    </div>
  </div>

  <div class="employees-data">
    @if(selectedEmployee){
    <app-data-card [employeeData]="selectedEmployee" />
    } @else {
    <p>Cokolwiek</p>
    }
  </div>
</div>
