@if(isAddingNewEmployee == true){
<app-add-new-employee
  (close)="onCancelAddNewEmployee()"
  (add)="onAddNewEmployee($event)"
/>
}

<div class="main-container">
  <div class="add-employees-card">
    <div class="employees-list">
      @for(employee of employees; track employee.id){
      <app-employee
        [employee]="employee"
        [selected]="employee.id === selectedEmployeeId"
        (select)="onSelectEmployee($event)"
        [whichDisplay]="false"
      />
      }
    </div>
    <button (click)="onStartAddNewEmpolyee()">Dodaj pracownika</button>
  </div>

  <div class="employees-data">
    @if(selectedEmployee){
    <app-data-card [employeeData]="selectedEmployee" />
    } @else {
    <p>Cokolwiek</p>
    }
  </div>
</div>
