<div class="main-content">
  <h2>{{ employeeData.name }} {{ employeeData.last_name }}</h2>
  <div class="data-container">
    <span>Numer telefonu: {{ employeeData.phone_number }}</span>
  </div>

  <div class="data-container">
    <span>Adres email: {{ employeeData.email_address }}</span>
  </div>

  <div class="data-container">
    <span>Rodzaj umowy:</span>
  </div>

  <div class="data-container">
    <span>Okres umowy:</span>
  </div>

  <div class="data-container">
    <span>Stawka godzinowa:</span>
  </div>
  <div class="data-container">
    <span>Urlop wypoczynkowy:</span>
  </div>
</div>
