div.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 400px;

  background-color: rgb(191, 224, 224);
}

div.employee-list-container {
  display: flex;
  flex-direction: column;
}

div.schedule-field-container {
  display: flex;
  flex-direction: row;
}
