<div class="main-container">
  <div class="schedule-settings-field">
    <div class="empty-div-to-fill-space"></div>
    <div class="display-month-year">
      <span>{{ monthData.monthName }} </span> <span>{{ monthData.year }}</span>
    </div>
    <div class="change-month-buttons">
      <button (click)="goToPreviousMonth()">Previous month</button>
      <button (click)="goToNextMonth()">Next month</button>
    </div>
  </div>
  <div class="employees-schedule-container">
    <div class="employee-list-container">
      @for(employee of employees; track employee.id){
      <app-employee [employee]="employee" [selected]="false" />
      }
    </div>
    <div class="schedule-field-container">
      @for(dayData of monthData.days; track dayData.numberOfTheDay){
      <app-schedule-field
        [fieldIdStart]="
          getFieldId(
            dayData.numberOfTheYear,
            dayData.numberOfTheMonth,
            dayData.numberOfTheDay
          )
        "
        [numberOfTheDay]="dayData"
        [employees]="employees"
        (addScheduleFieldValue)="onAddScheduleFieldValue($event)"
        [scheduleFieldData]="monthDataObject"
      />
      }
      <!-- @for(dayNumber of monthData.days; track dayNumber.numberOfTheDay){
      <app-month-days [monthDays]="dayNumber" />
      } może poźniej tutaj ogarnę jak poprawić layot, moze poprzedni nie jst zły, bo trochę trudno mi to sobie wyobrazić-->
    </div>
  </div>
</div>
<button (click)="logTypedValues()">Wyświetl Typed Values</button>
