<div class="main-container">
  <div class="schedule-settings-field">
    <div class="empty-div-to-fill-space"></div>
    <div class="display-month-year">
      <span>{{ capitalizeFirstLetter(monthData.monthName) }} </span>
      <span>{{ monthData.year }}</span>
    </div>
    <div class="change-month-buttons">
      <button (click)="goToPreviousMonth()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-left-square"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
          />
        </svg>
      </button>
      <button (click)="goToNextMonth()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-right-square"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="employees-schedule-container">
    <div class="employee-list-container">
      @for(employee of employees; track employee.id){
      <app-employee
        [employee]="employee"
        [selected]="false"
        [whichDisplay]="true"
      />
      }
    </div>
    <div class="schedule-field-container">
      <form>
        <div class="schedule-field">
          @for(dayData of monthData.days; track dayData.numberOfTheDay){
          <app-schedule-field
            [fieldIdStart]="
              getFieldId(
                dayData.numberOfTheYear,
                dayData.numberOfTheMonth,
                dayData.numberOfTheDay
              )
            "
            [numberOfTheDay]="dayData"
            [employees]="employees"
            (addScheduleFieldValue)="onAddScheduleFieldValue($event)"
            [scheduleFieldData]="monthDataValues"
          />
          }
        </div>
        <!-- <button type="submit">Zapisz</button> moze nie bede używał form, nie wiem na razie, tzreba przeanalizaować kod z servisu i dokładnie przesledzić jak te dane są zapisywane -->
      </form>
    </div>
  </div>
</div>
