div.employee-field-schedule {
  width: 150px;
  height: 70px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  border-top: 1px solid rgb(0, 0, 0, 0.2);
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

span.employee-field-schedule {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
