<!-- <button (click)="logTypedValues()">Wyświetl Typed Values</button> -->
<div class="schedule-field">
  <div class="upper-schedule-part">
    <span class="schedule-field-date">{{ numberOfTheDay.numberOfTheDay }}</span>
    <span class="schedule-field-date">{{ numberOfTheDay.dayOfTheWeek }}</span>
  </div>
  <!-- Tu powinni być wyświetlani employees -->
  @for(employee of employees; track employee.id){
  <textarea
    id="{{ fieldIdStart + '-' + employee.id }}"
    class="employee-hours"
    type="text"
    maxlength="32"
    [(ngModel)]="
      storedData[
        generateKey(
          numberOfTheDay.numberOfTheDay,
          numberOfTheDay.numberOfTheMonth,
          numberOfTheDay.numberOfTheYear,
          employee.id
        )
      ]
    "
  ></textarea>
  }
</div>
<!-- (blur)="updateValue(numberOfTheDay.numberOfTheDay, employee.id)" -->
