div.schedule-field {
  width: 40px;
  background-color: white;
}

div.upper-schedule-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div.lower-schedule-part {
  width: 35px;
  height: 30px;
}

input.employee-hours {
  width: 35px;
  height: 30px;

  padding: 0;

  padding-block: 0;
  padding-inline: 0;
}

span.schedule-field-date {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8px;
}
